<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="DailyFile"
              fileName="C:/var/wineyard/logs/app-${date:dd-MM-yyyy}.log"
              append="true">
            <PatternLayout>
                <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%t] %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="org.hibernate" level="error"/>

        <!-- 2. Silence specific classes from your own project if they are too noisy -->
        <Logger name="bg.tu_varna.sit.virtualvineyard.DBInit" level="warn"/>
        <Root level="info">
            <AppenderRef ref="DailyFile"/>
        </Root>
    </Loggers>
</Configuration>